<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true"
			   xmlns="http://logging.apache.org/log4j/2.0/config"
			   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd"
			   status="debug">
	<Properties>
		<Property name="baseDir">logs/scg</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${baseDir}/app.log"
					 filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %p %c{1.} [%t] %m%n" />
			<CronTriggeringPolicy schedule="0 0 0 * * ?"/>
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfFileName glob="*/app-*.log.gz" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>