.screenWrapper {
    width: 100%;
    height: auto;
    display: block;
}

.mainWrapper {
    width: 70%;
    height: auto;
    position: relative;
    display: inline-block;
}

.mainHistorySpacer {
    width: 1%;
    height: 80%;
    position: relative;
    display: inline-block;
}

.historyWrapper {
    width: 28%;
    height: 80%;
    position: absolute;
    display: inline-block;
    background-color: #1e5cfb;
}

.window {
    height: 100%;
    background-color: #AAAA00;
}

.msg-list-wrapper-split {
    box-sizing: border-box;
    overflow: auto;
    margin: 0px auto 5px;
    padding: 5px;
    height: 775px;
    line-height: 16pt;
}

.player {
    background-color: cadetblue;
}

.activePlayer {
    color: white;
    background-color: navy;
}

.centralArea {
    width: 100%;
    height: 300px;
    background-color: aliceblue;
}

.cardOnHand {

}

.redCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #FF0000;
}

.blueCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #0000FF;
}

.greenCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #00FF00;
}

.blackCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #000000;
}

.yellowCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #FFFF00;
}

.emptyCard {
    float:left;
    width:200px;
    height:200px;
    background-color: #FFFFFF;
}