<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<display-name>Simple Card Game</display-name>
	<absolute-ordering />
	<description>
		Proof of Concept of card game as moved into web context
	</description>

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.xzymon.scg.servlets.IndexServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.xzymon.scg.listeners.InitializationListener</listener-class>
	</listener>
</web-app>
